@font-face {
  font-family: "Minecraft";
  src: url(font/font.otf) format("opentype");
}

:root {
    --accent: #4cff00;
    --accent-darker: #37b601;
}

* {
  font-family: "Minecraft", sans-serif;
  font-weight: normal;
  color: white;
}

a {
    color: var(--accent-darker);
}

.lighter-bg > * {
  color: rgb(0, 0, 0);
}

.section-div {
  padding: 3rem 1rem;
}

.example-div {
  display: flex;
  justify-content: center;
}

.example-div > img {
  width: 40%;
  margin: auto;
}

.no-shadow {
  filter: unset;
}

.centered {
    text-align: center;
}

img {
  border-radius: 6px;
  filter: drop-shadow(#00000050 8px 8px 2px)
    drop-shadow(#00000050 -1px -1px 2px);
}
